<!-- cart start -->
<section class="cart container">
	<h1 hidden>Your basket</h1>
	<div class="cart-label-wrap">
		<div class="icon-cart-wrap">
			<svg class="icon-cart" width="38" height="38px">
				<use href="../img/icons.svg#icon-cart"></use>
			</svg>
		</div>


	</div>

	<!-- ПУСТА КОРЗИНА -->

	<div class="cart-empty">
		<div class="cart-label" id="cart-counter">CART (<span class="number-of-products">0</span>)</div>
		<img class="basket-img" src="../img/shopping_cart.png" width="164px" height="140px" alt="Yellow shopping basket">
		<h2 class="basket-title">
			Your basket is <span class="accent-txt">empty...</span>
		</h2>
		<p class="basket-txt">Go to the main page to select your favorite products and add them to the cart.</p>
	</div>

	<!-- ПУСТА КОРЗИНА end-->

	<div class="del-all-btn"><span class="del-all-txt">Delete all</span><button class="remove-all-item" data-modal-close
			aria-label="close modal button">
			<svg class="remove-item-image" width="24" height="24">
				<use href="../img/icons.svg#icon-close-btn"></use>
			</svg>
		</button></div>
	<ul class="basket-items"></ul>

	<div class="order-total">
		<h2 class="cart-label order-title">YOUR ORDER</h2>

		<div class="total">
			<p class="product-name">Total</p>
			<div class="sum">
				<p class="sum2"><span class="product-category">Sum:&nbsp;</span>
					<span class="total-price"></span>
				</p>
			</div>
		</div>
	</div>

	<!-- form start -->

	<form class="cart-form-authorization" name="authorization_send" autocomplete="off">
		<label class="cart-form-label" for="email">
			<input class="form-input" type="email" name="email" placeholder="Enter your email" id="email" required />
		</label>
		<button class="btn-form" type="submit">Checkout</button>
	</form>

	<!-- <form>
		<label>
			<input placeholder='Mail: Enter your email'>
		</label>
		<button type='submit'>Checkout</button>
	</form> -->

	<!-- form end -->
</section>

<!-- cart end -->