<!-- cart start -->
<section>
	<h1 hidden>Your basket</h1>
	<div class="cart-label-wrap">
		<svg width="42px" height="42px">

			<!-- потом поменять на правильній путь из svg header -->
			<use href="../img/icons-cart-na-udalenie.svg#icon-cart-header"></use>
		</svg> <span class="cart-label" id="cart-counter">CART (0)</span>
	</div>

	<!-- cюда из JS -->
	<div class="cart" id="card-counter">
		<img class="basket-img" src="../img/yellow-basket.png" width="164px" height="140px" alt="Yellow shopping basket">
		<h2 class="basket-title">
			Your basket is <span class="accent-txt">empty...</span>
		</h2>
		<p class="basket-txt">Go to the main page to select your favorite products and add them to the cart.</p>
	</div>

</section>

<!-- cart end -->