<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <section class="discount"> -->
        <ul class="discount_container">
            <li class="card"></li>
            <!-- <button class="basket">
                <svg class="basket-icon" width="18" height="18">
                  <use href="../img/icons.svg#icon-cart"></use>
                </svg>
        </button> -->
        </ul>
    <!-- </section> -->

</body>
</html>