<form class="form-search">
    <p class="filter">Filters:</p>
    <div class="cont-input-search">
    <input placeholder="Search for anything" class="input-search" type="text" name="search">
    <button class="submit" type="submit">
        <svg width="20" height="20">
            <use href="/img/icons.svg#icon-search" multiple></use>
        </svg>
    </button>
</div>
    <select name="selecteds" id="selected">
      <option value="">Show all</option>
    </select>
   </form>
   <div class="error">
    <h3 class="errors">Nothing was found for the selected
        <span class="text-error">filters...</span>
    </h3>
    <p class="text-error-false">
        Try adjusting your search parameters or browse our range by other criteria to find the perfect product for you. 
    </p>
</div>
