<footer class="footer">
  <div class="footer-container container">
    <div class="footer-nav">
      <div class="footer-first">
        <div class="footer-first-container">
          <a href="../index.html" class="footer-block-logo">
            <div class="footer-icon-logo">
              <svg class="footer-logo" width="20" height="20">
                <use href="../img/icons.svg#icon-cabbage"></use>
              </svg>
            </div>
            <span class="footer-logo-text">Food Boutique</span></a
          >
        </div>
        <ul class="list social-links">
          <li class="social-links-item">
            <a
              class="social-links-item-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              ><svg class="social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-links-item">
            <a
              class="social-links-item-link"
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="social-links-item">
            <a
              class="social-links-item-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              ><svg class="social-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-second">
        <div class="footer-title">
          <h3 class="footer-title-text">
            Discover the Variety of Flavors and Quality
          </h3>
          <p class="footer-text-desc">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="footer-form">
          <p class="footer-form-title">
            Subscribe and learn about new products!
          </p>
          <form
            class="footer-form-authorization"
            name="authorization_send"
            autocomplete="off"
          >
            <label class="footer-label" for="email">
              <input
                class="form-input"
                type="email"
                name="email"
                placeholder="Email"
                id="email"
                required
                autofocus
              />
            </label>
            <button class="btn-form" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-caption">
      <p class="footer-privaci-text">Food Boutique. All rights reserved.</p>
      <div class="footer-privacy">
        <p>
          <a href="" class="footer-privaci-text">Privacy Policy </a> /
          <a href="" class="footer-privaci-text"> Terms of Service</a>
        </p>
      </div>
    </div>
  </div>
</footer>
