<!-- header start -->
<header class="header container">

	<a class="header-logo" href="../index.html">
		<svg width="28px" height="28px">
			<use href="../img/icon-header.svg#icon-logo"></use>
		</svg><span class="header__logo">Food Boutique</span></a>


	<div class="header-nav">
		<nav>
			<ul class="nav-list">
				<li><a class="nav-link" href="../index.html">Home</a></li>
				<li><a href="./cart.html"><svg width="38px" height="38px">
							<use href="../img/icon-header.svg#icon-cart"></use>
						</svg></a></li>
				<li><span class="header-cart">CART (0)</span></li>
			</ul>
		</nav>

	</div>



</header>

<!-- header end -->