<!-- header start -->

<header class="header container">

	<a class="header-link" href="../index.html">
		<svg width="28px" height="28px">
			<use href="../img/icons.svg#icon-logo-header"></use>
		</svg><span class="header__logo">Food Boutique</span></a>

	<div class="header-nav">
		<nav>

			<ul class="nav-list">
				<li><a class="nav-link" href="../index.html">Home</a></li>
				<li><a class="header-link" href="./cart.html"><svg width="38px" height="38px">
							<use href="../img/icons.svg#icon-cart-header"></use>
						</svg> <span class="header-cart" id="header-cart">CART (0)</span></a></li>
			</ul>

		</nav>
	</div>

</header>

<!-- header end -->