<!-- hero start -->

<section class="container">
	<div class="hero-content">
		<h1 class="hero-title">Welcome to the <span class="title-accent">Food</span> Boutique!</h1>
		<p class="hero-text">With Food Boutique, you're not just subscribing to food, you're signing up for a fresher,
			fitter,
			and happier you.
		</p>
	</div>
	<div class="hero-banner">
		<svg class="hero-label" width="100px" height="100px">
			<use href="/img/icons.svg#icon-organic"></use>
		</svg>
	</div>
</section>

<!-- hero end -->