<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pagination</title>
  <link rel="stylesheet" href="./css/pagination.css" />
</head>

<body>
  <div class="container">
   
    <div class="products grid grid--4-cols"></div>
   
    
    <div class="pagination-container"></div>
  </div>
  
  <script type="module" src="./js/pagination.js"></script>
  </body>
  
  </html>

  
  </head>
  
  