<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Food Boutique</title>
  <link rel="stylesheet" href="./css/pagination.css" />
</head>
<body>
<div class="container js-contajner">
  <button class="page" type="button">1</button>
  <button class="page" type="button">2</button>
  <button class="page" type="button">3</button>
  <button class="page" type="button">4</button>
  <button class="page" type="button">5</button>
  <button class="page" type="button">6</button>
  <button class="page" type="button">7</button>
  <button class="page" type="button">8</button>
  <button class="page" type="button">9</button>
  <button class="page" type="button">10</button>
  <button class="page" type="button">11</button>
  <button class="page" type="button">12</button>
</div>



  <script type="module" src="./js/pagination.js"></script>
</body>

</html>