<ul class="product-card">
    <h1 class="product-subtitle">Popular products</h1>

    <li class="product-content">
      <div class="background-img">
        <img
          src="../img/1x/desktop/image 2.png"
          alt="Product Image"
          class="product-image"
        />
      </div>
      <div class="product-txt-bar">
        <h3 class="product-title">Ackee</h3>
        <p class="product-category">
          <span class="span-category">Category:</span>Fresh Produce
        </p>
        <div class="product-txt-two">
          <p class="product-size">
            <span class="span-category">Size:</span>16 oz
          </p>
          <p class="product-popularity">
            <span class="span-category">Popularity:</span>3
          </p>
        </div>
      </div>
      <div class="svg-svg">
        <svg class="svg-item" width="8" height="10">
          <use href="./img/icons.svg#icon-cart"></use>
        </svg>
      </div>
    </li>

    <li class="product-content">
      <div class="background-img">
        <img
          src="../img/1x/desktop/image 2 (1).png"
          alt="Product Image"
          class="product-image"
        />
      </div>
      <div class="product-txt-bar">
        <h3 class="product-title">Chicken</h3>
        <p class="product-category">
          <span class="span-category">Category:</span>Meat & Seafood
        </p>
        <div class="product-txt-two">
          <p class="product-size">
            <span class="span-category">Size:</span>1.5 kg
          </p>
          <p class="product-popularity">
            <span class="span-category">Popularity:</span>2
          </p>
        </div>
      </div>
      <div class="svg-svg">
        <svg class="svg-item" width="8" height="10">
          <use href="./img/icons.svg#icon-cart"></use>
        </svg>
      </div>
    </li>

    <li class="product-content">
      <div class="background-img">
        <img
          src="../img/1x/desktop/image 2 (2).png"
          alt="Product Image"
          class="product-image"
        />
      </div>
      <div class="product-txt-bar">
        <h3 class="product-title">Salmon</h3>
        <p class="product-category">
          <span class="span-category">Category:</span>Meat & Seafood
        </p>
        <div class="product-txt-two">
          <p class="product-size">
            <span class="span-category">Size:</span>1 kg
          </p>
          <p class="product-popularity">
            <span class="span-category">Popularity:</span>1
          </p>
        </div>
      </div>
      <div class="svg-svg">
        <svg class="svg-item" width="8" height="10">
          <use href="./img/icons.svg#icon-cart"></use>
        </svg>
      </div>
    </li>

    <li class="product-content">
      <div class="background-img">
        <img
          src="../img/1x/desktop/image 2 (3).png"
          alt="Product Image"
          class="product-image"
        />
      </div>
      <div class="product-txt-bar">
        <h3 class="product-title">Allspice</h3>
        <p class="product-category">
          <span class="span-category">Category:</span>Pantry Items
        </p>
        <div class="product-txt-two">
          <p class="product-size">
            <span class="span-category">Size:</span>1.5 oz
          </p>
          <p class="product-popularity">
            <span class="span-category">Popularity:</span>1
          </p>
        </div>
      </div>
      <div class="svg-svg">
        <svg class="svg-item" width="8" height="10">
          <use href="./img/icons.svg#icon-cart"></use>
        </svg>
      </div>
    </li>

    <li class="product-content">
      <div class="background-img">
        <img
          src="../img/1x/desktop/image 2 (4).png"
          alt="Product Image"
          class="product-image"
        />
      </div>
      <div class="product-txt-bar">
        <h3 class="product-title">Beef</h3>
        <p class="product-category">
          <span class="span-category">Category:</span>Meat & Seafood
        </p>
        <div class="product-txt-two">
          <p class="product-size">
            <span class="span-category">Size:</span>2 kg
          </p>
          <p class="product-popularity">
            <span class="span-category">Popularity:</span>0
          </p>
        </div>
      </div>
    </div>
    <div class="svg-svg">
      <svg class="svg-item" width="8" height="10">
        <use href="./img/icons.svg#icon-cart"></use>
      </svg>
    </div>
  </li>
</ul>