.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-label-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.icon-cart-wrap {
  width: 38px;
  height: 38px;
  background-color: var(--light_green);
  border-radius: 50%;
}
.icon-cart {
  fill: var(--gray);
  padding: 10px;
}

.cart-label {
  padding-left: 5px;

  font-family: Neue Montreal, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  color: var(--black);
}
.basket-img {
  margin-top: 135px;
  margin-bottom: 40px;
}

.basket-title {
  margin-bottom: 14px;
  font-family: Neue Montreal, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: var(--black);
}
.basket-txt {
  color: rgba(1, 1, 1, 0.7);
  padding-bottom: 120px;
  font-family: Neue Montreal, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.accent-txt {
  color: var(--light_green);
}

.basket-items {
  position: relative;
  height: 550px;
  width: 375px;
  overflow: auto;
}

.basket-item {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.product-img {
  margin-right: 20px;
  padding: 18px;
}

.product-name {
  margin-bottom: 10px;
  color: var(--black);

  font-family: Neue Montreal, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.product-category {
  display: flex;
  color: rgba(1, 1, 1, 0.3);

  font-family: Neue Montreal, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.prod-value {
  display: flex;
  align-items: center;
  color: #010101;

  font-family: Neue Montreal, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.prod-desc {
  display: flex;
}
.remove-item-btn {
  position: absolute;
  right: 1px;
  top: 5px;
  background: none;
  border: none;
}
.remove-item-image {
  pointer-events: none;
}
