.discount_container{
    max-width: 275px;
    min-height: 232px;
    z-index: -2;
    position: relative;   
    
}
.card{
border-radius: 15px;
background: var(--white);
width: 100%;
height: 232px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 20px;
position: relative;
cursor: pointer;
   
}
.card_item{
    border-radius: 15px;
    background: var(--white);
    width: 100%;
    height: 232px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
       
    }

.card-img{
   margin: 23px 69px;
   

}

.card-content{
min-width: 243px;
height: 150px;
background-color: var(--gray);
border-radius: 10px;
margin: 16px;
}

.basket{
    width: 34px;
    height: 34px;
    border-radius: 50%;
background: var(--light_green);
border: none;
display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 16px 8px
}

.basket:hover{
    background-color: var(--dark_green);
}

.basket:disabled:hover {
    background-color: var(--light_green);
    cursor:auto
  }


.title-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 200px;
    margin: 5px 0px
}

.card-title{
    color: var(--black);
font-size: 20px;
font-family: 'Neue Montreal Medium';
font-weight: 500;
}
.card-price{
    color: var(--black);
font-size: 20px;
font-family: 'Neue Montreal Medium';
font-weight: 500;
}

.discount-icon{
    position: absolute;
    z-index: 999;
    right: 10px;
    top: -3px;
}


.basket-icon{
    fill: var(--white)
}

.basket-icon-check{
    stroke: var(--white);
}