.container {
  width: 375px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  margin-left: 8px;
  font-family: Fontspring-DEMO-quincycf-black;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: -2%;
}

.header {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 6px;
}
