/* MODAL START*/
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


@media screen and (min-width: 320px) {
    /*GLOBAL*/
    .js-modal {
        z-index: 999;
        background: rgba(1, 1, 1, 0.40);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 20px;
        border-radius: 20px;
        background: #FAFAFA;
        max-width: 335px;
        min-height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -187px;
        margin-top: -358px;
    }

    .image-wrap {
        border-radius: 10px;
        background: #E8E8E2;
        max-height: 212px;

    }

    .modal-img {
        padding: 26px 68px;
    }

    .modal-name {
        color: #010101;
        font-family: Neue Montreal Medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 111.111% */
        margin-bottom: 10px;
    }

    .modal-text {
        font-family: Neue Montreal Regular;
        color: rgba(1, 1, 1, 0.30);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */
        margin-right: 4px;
    }

    .modal-text-descr {
        font-family: Neue Montreal Regular;
        color: #010101;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */
        margin-right: 8px;
    }

    .modal-text-wrapper {

        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 9px;
    }

    .modal-descr {
        font-family: Neue Montreal Regular;
        color: rgba(1, 1, 1, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
         overflow: auto;
      max-height: 250px;
    }

    .modal-descr-together {
        margin-bottom: 20px;
    }

    .modal-price {
        color: #010101;
        font-family: Neue Montreal Medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 111.111% */
        margin-bottom: 5px;
    }

    .modal-floor-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .modal-close-btn {
        position: absolute;
        top: 0;
        right: -20px;
        background-color: transparent;
    }

    .modal-close-btn:hover {
        background-color: transparent;
    }

    .modal-cart-btn {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #6D8434;
        color: var(--white);
        border: none;
    }

    .modal-close-btn {
        position: absolute;
        top: 14px;
        right: 14px;
        border: none;
    }

    .modal-window-cart-button {
        fill: var(--white)
    }

    .modal-descr-together {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
    }
}

/*NEXT MEDIA */

@media only screen and (min-width: 768px) {
    .modal-content {
        min-width: 600px;
        min-height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -335px;
        margin-top: -180px;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 40px 40px;
    }

    .modal-descr {
        width: 256px;
    }

    .modal-descr-container {
        width: 300px;
    }

    .modal-descr-together {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
      max-height: 270px;
    }

    .modal-img {
        width: 160px;
        height: 160px;
        padding: 26px 40px;
    }

    .image-wrap {
        width: 240px;
        height: 212px;
    }

    .modal-text-wrapper {
        row-gap: 8px;
    }

    .modal-descr {
        font-size: 16px;
      max-height: 306px;

    }


    .modal-cart-btn {
        color: #E8E8E2;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
        position: absolute;
        right: 50px;
    }

    .modal-price {
        color: #010101;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        margin-right: 357px;
        position: absolute;
        left: 50px;
    }



    .modal-window-close-button {
        width: 28px;
        height: 28px;
    }

}

/* SUBSCRIPTION STYLES */

@media screen and (min-width: 320px) {

.js-modal-subscription {
  background: rgba(1, 1, 1, 0.40);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  padding: 20px 20px;
  border-radius: 20px;
  background: var(--gray);
  max-width: 270px;
  min-height: 276px;
  flex-shrink: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -167px;
  margin-top: -138px;
}

.subscription-failed-header {
  color: var(--black);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 0 20px;
}

.subscription-failed-email {
  color: #6D8434;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.subscription-failed-descr {
  color: rgba(1, 1, 1, 0.70);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

/*Succes logic*/

.subscription-success-header {
  color: var(--black);
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 55px;
  text-align: center;
}
.subscription-success-email {
  color: #6D8434;
  font-size: 20px;
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.subscription-success-descr {
  color: rgba(1, 1, 1, 0.70);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  padding-bottom: 22px;
  margin-bottom: 100px;
  font-family: Neue Montreal;
}
.success-text-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding: 0 20px;
}
.subscription-success-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
}

@media screen and (min-width: 768px) {


  .subscription-modal-content {
    max-width: 490px;
    min-height: 308px;
    padding: 20px 60px;
    margin-left: -245px;
    margin-top: -154px;
  }
  .text-wrap {
    justify-content: center;
    align-items: center;
  }
  .subscription-failed-header {
    font-size: 24px;
    line-height: 24px; /* 100% */
    max-width: 245px;
  }
  .subscription-failed-email {
    color: #6D8434;
    font-size: 24px;
    line-height: 24px;
  }
  .subscription-failed-descr {
    color: rgba(1, 1, 1, 0.70);
    text-align: center;
    font-family: Neue Montreal;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    max-width: 349px;
  }

  .subscription-success-header {
    max-width: 245px;
    font-size: 24px;
  }
  .subscription-success-email{
    font-size: 24px;
  }
  .subscription-success-descr {
    font-size: 16px;
    width: 328px;
    margin-bottom: 140px;
  }

  .success-text-wrap{
    align-items: center;
    row-gap: 20px;
  }

}

