/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  padding: 8px;
  border-color: bisque;
  border: 1px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}

.pagination__item {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.pagination__item--active {
  font-weight: 800;
  color: gold;
} */

/* 2 variant=========== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.header {
  font-size: 2.8rem;
  color: #087f5b;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container {
  max-width: 100%;
  /* height: 100vh; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  margin: 0 auto;
}

.products {
  display: flex;
  /* background-color: cadetblue; */
  width: 100%;
  min-height: 40rem;
  padding: 2rem 2rem 2rem 2rem;
}

.grid {
  display: grid;
  row-gap: 8rem;
  column-gap: 6.4rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.product {
  max-width: 40rem;
  min-height: 50rem;
  /* background-color: cadetblue; */
  border-radius: 2rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product div {
  padding: 1rem;
}

.product img {
  width: 100%;
  height: 40%;
}

.product h2 {
  text-align: center;
  margin-top: 2.8rem;
  font-size: 2.4rem;
  color: #0f0f0f;
}

.product h3 {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  margin-left: 1.8rem;
  margin-top: 2rem;
}

.product p {
  font-size: 1.6rem;
  margin-left: 1.8rem;
  margin-top: 2rem;
}

.pagination-container {
  height: 20%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10rem;
  margin-top: 10rem;

}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  /* padding: 1.6rem 3.2rem; */
  border-radius: 9px;

  /*only necessary for .btn*/
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  transition: all 0.3s;
  background-color: #fdf2e9;
  /* transform: scale(0.98); */
}

.btn:hover,
.btn:active {
  background-color: #e67e22;
}



.btn {
  background-color: #fff;
  border: 2px solid #087f5b;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  

  cursor: pointer;
}

.btn:hover {
  background-color: #087f5b;
}

.btn:hover .btn-icon {
  stroke: #c3fae8;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.btn-icon:active {
  stroke: #c3fae8;
}

.a-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  font-size: 18px;
}

.margin-left-5 {
  margin-left: 0.5rem;
}

span {
  /* text-decoration: none; */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #2b8a3e;

  margin-left: 0.5rem;
  /* background-color: #afdd69; */
  cursor: pointer;
}

/* span {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
} */

span:hover {
  background-color: #087f5b;
  color: #fff;
}

span:active {
  background-color: #087f5b;
  color: #fff;
}

.page--current {
  background-color: #087f5b;
  color: #fff;
}

button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
}


.page-btn {

background: #ddd;
  color: #2c303a;
 
  margin: 0 2px; 
  gap: 8px;
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: #FAFAFA;
  box-shadow: rgb(109, 132, 52, 1) -1px -1px 1px, rgba(185, 228, 201, 0.773) 1px 1px 1px;
    text-shadow: rgb(255, 255, 255) 0px 1px 1px;
    background-color: transparent;
    cursor: pointer;
 
  
}

.page-btn:first-of-type {
  margin-left: 0;
}

.page-btn:last-of-type {
  margin-right: 0;
}

.page-btn:not([class$="-page"]) {
  width: 35px;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
}

.page-btn[class*="-page"] {
  background: #ccc;
  font-size: 0.6em;
  font-weight: 700;
}  

.page-btn.active {
  background: rgb(109, 132, 52, 1);
  color: #fff; 
  
}

.page-btn[disabled] {
  opacity: 0.3;
}

.spinner-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  grid-column: 1 / -1;
}

.spinner {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

