#pagination {
  margin-top: 40px;
  margin-bottom: 80px;
}

#page-btn {
  border: none;
}

#is-selected {
  border: none;
  background-color: var(--light_green);
  border-radius: 50%;
  width: 40px;
  height: 26px;
  padding: 0;
  padding-top: 14px;
}

#arrow-btn {
  border: none;
  padding: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #fff;
}

#page-btn:hover {
  border-radius: 50%;
  transition: border-radius 0.3s ease-in-out;
}

#arrow-btn:hover {
  -webkit-box-shadow: 7px 6px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 7px 6px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 7px 6px 8px -1px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}


@media screen and (min-width: 1440px) {
#pagination {
  position: absolute;
  bottom: -138px;
  right: 600px;
}
}