.span-category,
.product-card,
.product-subtitle,
.product-content,
.product-image,
.background-img,
.product-title,
.product-category,
.product-size,
.product-popularity,
.product-txt-two,
.popular_basket,
.svg-item {
  box-sizing: border-box;
}

.span-category {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #0101014d;
  margin-right: 4px;
}
.product-card {
  max-width: 275px;
}
.product-subtitle {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 20px;
}
.product-content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #fafafa;
  border-radius: 10px;
  width: 275px;
  height: 98px;
  padding: 12px;
  flex-shrink: 0;
  margin-bottom: 13px;
  position: relative;
}

.product-image {
  width: 56px;
  height: 56px;
}
.background-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  background-color: #e8e8e2;
  border-radius: 10px;
  margin-right: 10px;
}
.product-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.product-category,
.product-size,
.product-popularity {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #010101;
  white-space: nowrap;
}

.product-category {
  margin-bottom: 9px;
}

.product-size {
  margin-right: 9px;
}

.product-txt-two {
  display: flex;
}

.popular_basket {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--gray);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 4px;
  transition: background-color 300ms cubic-bezier(0.3, 0.1, 0.2, 0.3);
  transition: transform 300ms cubic-bezier(0.3, 0.1, 0.2, 0.3);
}

.svg-item {
  transition: fill 300ms cubic-bezier(0.3, 0.1, 0.2, 0.3);
  fill: var(--light_green);
}

.svg-item-check{
  transition: stroke 300ms cubic-bezier(0.3, 0.1, 0.2, 0.3);
  stroke: var(--light_green);
}

.svg-item-check:hover{
  stroke: var(--gray);
}

.svg-item:hover {
  fill: var(--gray);
}

.popular_basket:hover {
  background-color: var(--light_green);
}

@media (max-width: 1440px) {
  .popular-container {
    margin-left: 32px;
  }
  .product-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 563px;
    gap: 13px;
  }

  .product-card {
    max-width: 100%;
    /*width: calc();*/
  }

  .product-content {
    margin-bottom: 0;
    width: calc(50% - 10px);
    cursor: pointer;
  }


}

@media (max-width: 769px) {
  .popular-container {
    margin: 0 20px 40px 20px;
  }

  .product-list-container {
    display: flex;
  }

  .product-card {
    max-width: 100%;
  }

  .product-content {
    width: 335px;
    height: 98px;
  }
}

.product-content:hover {
  -webkit-box-shadow: 7px 6px 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 7px 6px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 7px 6px 8px -1px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  transition: scale 0.5s ease-in-out;
  cursor: pointer;
  scale: 1.02;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .product-list-container {
    width: 335px;
  }

  aside {
    align-items: center;
  }
}

@media screen and (max-width: 1440px) {
  aside {
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .product-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 563px;
    gap: 13px;
  }

  .product-content {
    margin-bottom: 0;
    width: calc(50% - 10px);
    cursor: pointer;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  aside {
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  aside {
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
.product-card {
  width: 275px;
  overflow: hidden;
}
  .product-list-container {
    flex-direction: column;
  }
  aside {
    align-items: flex-end;
  }
  .product-content-section {
    margin-bottom: 100px;
    position: relative;
  }
}

