.span-category {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #0101014d;
  margin-right: 4px;
}
.product-card {
  max-width: 275px;
  overflow: auto;
}
.product-subtitle {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.product-content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #fafafa;
  border-radius: 10px;
  width: 275px;
  height: 98px;
  padding: 12px;
  flex-shrink: 0;
  margin-bottom: 13px;
  position: relative;
}

.product-image {
  width: 56px;
  height: 56px;
}
.background-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  background-color: #e8e8e2;
  border-radius: 10px;
  margin-right: 10px;
}
.product-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.product-category,
.product-size,
.product-popularity {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #010101;
  white-space: nowrap;
}

.product-category {
  margin-bottom: 9px;
}

.product-size {
  margin-right: 9px;
}

.product-txt-two {
  display: flex;
}

.svg-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--light_green);
  margin-left: 40px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.svg-item {
  fill: var(--gray);
}
